  <!DOCTYPE html>
  <html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="/css/style.css">


  </head>

  <body>

    <!-- Top content -->
    <div class="top-content">
      <div class="container">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text ">
            <h1><b>PregaHelp </h1>
            <div class="description">
              <p>
                <b>One touch assistant to guide you throughout the most special days of your life.
              </p>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom:10px">
          <div class="col-sm-10 col-sm-offset-1 show-forms">
            <span class="show-register-form active">Register</span>
            <span class="show-forms-divider">/</span>
            <span class="show-login-form">Login</span>
          </div>
        </div>

        <div class="row register-form">
          <div class="col-sm-4 col-sm-offset-1">
            <form role="form" action="signup" method="post" novalidate>
              <div class="form-group">
                <select name="role" class="r-form-first-name form-control" id="role" onchange="transition(this.value)">
                  <option value="organisation" selected>Organisation</option>
                  <option value="patient">Patient</option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="r-form-name">Name</label>
                <input type="text" name="name" required placeholder="Name..." class="r-form-first-name form-control" id="name">
              </div>
              <div class="form-group" id="dispmail">
                <label class="sr-only" for="r-form-email">Email</label>
                <input type="email" name="email" required placeholder="Email..." class="r-form-email form-control" id="email">
              </div>
              <div class="form-group" id="dispcontact" style="display:none">
                <label class="sr-only" for="r-form-contact">Contact</label>
                <input type="text" name="contact" placeholder="Contact..." class="r-form-email form-control" id="contact">
              </div>
              <div class="form-group">
                <label class="sr-only" for="r-form-password">Last name</label>
                <input type="password" name="password" required placeholder="Password..." class="r-form-last-name form-control" id="password">
              </div>
              <button type="submit" class="btn">Sign me up!</button>
            </form>
          </div>
          <div class="col-sm-6 forms-right-icons">
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-pencil"></i></div>
              <div class="col-sm-10">
                <h3>Just one date</h3>
                <p>From nutrition to immunization, we take care of the rest</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
              <div class="col-sm-10">
                <h3>Check the list</h3>
                <p>The do's and dont's during the special days.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-magic"></i></div>
              <div class="col-sm-10">
                <h3>Timely Reminders</h3>
                <p>We would make sure you never miss out an important date</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row login-form">
          <div class="col-sm-4 col-sm-offset-1">
            <form role="form" action="login" method="post" novalidate>
              <div class="form-group">
                <select name="role" class="r-form-first-name form-control" id="role" onchange="transition_log(this.value)">
                  <option value="organisation" selected>Organisation</option>
                  <option value="patient">Patient</option>
                </select>
              </div>
              <div class="form-group" id="logmail">
                <label class="sr-only" for="r-form-email">Email</label>
                <input type="email" name="email" required placeholder="Email..." class="r-form-email form-control" id="email_log">
              </div>
              <div class="form-group" id="logcontact" style="display:none">
                <label class="sr-only" for="r-form-contact">Contact</label>
                <input type="text" name="contact" placeholder="Contact..." class="r-form-email form-control" id="contact_log">
              </div>
              <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" name="password" placeholder="Password..." class="l-form-password form-control" id="password_log">
              </div>
              <button type="submit" class="btn">Sign in!</button>
            </form>
            <div class="social-login">
              <p>Or login with:</p>
              <div class="social-login-buttons">
                <a class="btn btn-link-1" href="#"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-link-1" href="#"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-link-1" href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 forms-right-icons">
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-pencil"></i></div>
              <div class="col-sm-10">
                <h3>Just one date</h3>
                <p>From nutrition to immunization, we take care of the rest</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
              <div class="col-sm-10">
                <h3>Check the list</h3>
                <p>The do's and dont's during the special days.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 icon"><i class="fa fa-magic"></i></div>
              <div class="col-sm-10">
                <h3>Timely Reminders</h3>
                <p>We would make sure you never miss out an important date</p>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">
            <div class="footer-border"></div>
            <p>Made by <a href="www.winterfellws.co" target="_blank">HouseStark</a>.</p>
          </div>

        </div>
      </div>
    </footer>

    <!-- Javascript -->
    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>
    <script>
    function transition(value) {
      if (value == 'organisation') {
        $('#dispcontact').hide();
        $("#dispcontact").prop('required',false);
        $('#dispmail').show();
        $("#dispmail").prop('required',true);
      }
      else {
        $('#dispmail').hide();
        $("#dispmail").prop('required',false);
        $('#dispcontact').show();
        $("#dispcontact").prop('required',true);
      }
    }
    function transition_log(value) {
      if (value == 'organisation') {
        $('#logcontact').hide();
        $("#logcontact").prop('required',false);
        $('#logmail').show();
        $("#logmail").prop('required',true);
      }
      else {
        $('#logmail').hide();
        $("#logmail").prop('required',false);
        $('#logcontact').show();
        $("#logcontact").prop('required',true);
      }
    }

    </script>
    <!--[if lt IE 10]>
    <script src="assets/js/placeholder.js"></script>
    <![endif]-->

  </body>

  </html>
