<%
var get_weeks = function(lmp){
  var currDate = new Date();
  var lastDate = new Date(lmp);
  return Math.round((currDate - lastDate)/1000/60/60/24/7);
}
var json = pat.week;
%>
<div class="panel panel-violet">
  <div class="panel-heading-violet">
    <h3 class="panel-title" style="color:black">WEEK <span style="color:black"><%= get_weeks(pat.patient.lmp) %></span></h3>
  </div>
  <div class="panel-body">
    <%= json.weeks[get_weeks(pat.patient.lmp)%3].expect %> <br>
    <%= json.weeks[get_weeks(pat.patient.lmp)%3].todo %> <br>
  </div>
</div>
<div style="background-color:#b49ed2;color:black;padding-bottom: 5px;padding-right:3px;padding-top: 1px;"><h3>Milestone:</h3></div>
<ol style="margin-top:100px">
  <li class=ms>
    WEEK 12
    <span class="details">
      Uterus just palpable above waist
    </span>
  </li>
  <li class=ms>
    WEEK 16-20
    <span class="details">
      First Dose of TT
    </span>
  </li>
  <li class=ms>
  WEEK 18-22
    <span class="details">
      Quickening (baby kicks)

    </span>
  </li>
  <li class=ms>
    WEEK 20-24
    <span class="details">
       Second Dose of TT.Uterus at level of belly button
    </span>
  </li>
  <li class=ms>
    WEEK 24-32
    <span class="details">
      Fetal heart sounds heard for the first time (120-140/min).Fetal Lie and Presentation to be determined.
    </span>
  </li>
</ol>
<div style="background-color:#b49ed2;color:black;padding-bottom: 5px;padding-right:3px;padding-top: 1px;margin-top:150px"><h3>Timeline:</h3></div>
<div class="container col-md-10 col-md-offset-1">

  <ul class="timeline" >
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" >Week 12</h4>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Uterus just palpable above waist
                   Congratulations!! Thank you for allowing us to be a part of this journey with you. By now all your tests have been done and your profile has been created. If you havent, please get your first antenatal check up. The details will be entered here by your health care provider.        Over the next few months we will be sending you reminders and constantly checking up on you through SMS to you and your loved ones</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 16-20</h4>
          <hr>
        </div>
        <div class="timeline-body">
          <p>First Dose of TT</p>
          <p>Neonatal Tetanus is a deadly disease. Taking the dose of TT during this week is absolutely essential for the well being of your child. You should be getting your dose anytime this week.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 18-22</h4>
          <hr>
        </div>
        <div class="timeline-body">
          <p> Quickening (baby kicks)</p>
          <p>Feel a sharp jerk in your tummy? You know what that is right? Your baby is alive and well and healthy. Count the number of kicks and tell your doctor during the next visit
</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 20</h4>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Uterus at level of belly button.</p>
          <p>Your uterus will be at the level of your belly button. You might expect to have mild discomfort, but it is natural. If the kicks become weaker or stop completely for more than a day visit your nearest hospital.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 20-24 </h4>
        </div>
        <div class="timeline-body">
          <p>Second Dose of TT</p>
            <p>Remember that painless injection you took four weeks ago. Well, its time to take the final dose of the Tetanus toxoid. Remember we want to wipe  neonatal tetanus off the face of this earth.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 24</h4>
        </div>
        <div class="timeline-body">
          <p>Fetal heart sounds heard for the first time through a stethoscope (120-140/min). It can be an absolute joy to hear your baby’s heart beating. Let your doctor check you up and tell you about your baby</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 30</h4>
        </div>
        <div class="timeline-body">
          <p>FAMILY PLANNING COUNSELLING</p>
            <p>Are you satisfied with the size of your family? Too many mouths to feed? Ask your Healthcare Provider about contraception and the options of family planning..</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 32</h4>
          <hr>
        </div>
        <div class="timeline-body">
          <p>Fetal Lie and Presentation to be determined</p>
          <p>This week it becomes apparent how your baby is doing inside the womb. If the baby is big or small for age.</p>
        </div>
      </div>
    </li>

  </ul>
</div>
