<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="javascript/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="javascript/jquery.js"  crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--logo -->
            <div class="navbar-header">
              <a href="index.html" class="navbar-brand">THE TEST PAGE</a>
            </div>
               <!--menu items -->
          </div>
    </nav>
    <div class="aa">
      <h2>Login</h2><br>
       <form method="post" action="/doctor/login">
        <input type="text" placeholder="e-mail" name="email" id="email"><br><br>
        <input type="password" placeholder="Password" name="password" id="password">
        <br><br>

        <button id="submit" value="Login">Login</button>
       </form>
    </div>
  </body>
  <script type="text/javascript" src="/javascript/jquery.js"></script>


</html>
