<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/navbar %>
    </header>

    <main>
        <form class="" action="/organisation/add_patient" method="post">
          <input type="text" name="name" value=""><Br>
          <input type="password" name="password" value=""><br>
          <input type="number" name="contact" value=""><br>
          <input type="submit" name="submit" value="Submit">
        </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
