<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Login &amp; Register Templates</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/form-elements.css">
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>

  <!-- Top content -->
  <div class="top-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1>Description</h1>
        </div>
      </div>



      <div class="row register-form">
        <div class="col-sm-6 col-sm-offset-3 ">
          <form role="form" action="/patient/register" method="post" class="r-form">
            <div class="form-group col-md-6">
              <label class="sr-only" for="r-form-age">Age</label>
              <input type="text" name="age" required placeholder="Age..." class="r-form-first-name form-control" id="age">
            </div>
            <div class="form-group col-md-6">
              <label class="sr-only" for="r-form-date">Due Date</label>
              <input type="text" name="date" required placeholder="Due Date..." class="r-form-first-name form-control" id="date">
            </div>
            <div class="form-group col-md-12">
              <label class="sr-only" for="r-form-occupation">Occupation</label>
              <input type="text" name="occupation" required placeholder="Occupation..." class="r-form-email form-control" id="occupation">
            </div>
            <div class="form-group col-md-6">
              <label class="sr-only" for="r-form-weight">Weight</label>
              <input type="text" name="weight" placeholder="Weight..." class="r-form-email form-control" id="weight">
            </div>
            <div class="form-group col-md-6">
              <label class="sr-only" for="r-form-height">Height</label>
              <input type="text" name="height" placeholder="Height..." class="r-form-email form-control" id="height">
            </div>
            <div class="form-group col-md-6">
              <label class="sr-only" for="r-form-Blood-Group">Blood-Group</label>
              <input type="text" name="blood" placeholder="Blood-Group..." class="r-form-email form-control" id="blood">
            </div>
            <div class="form-group col-md-6">
              <select name="role" class="r-form-first-name form-control" id="role" onchange="transition_log(this.value)">
                <option disabled selected value>Previous Children</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label class="sr-only" for="r-form-conditions">Existing Conditions</label>
              <input type="textarea" style="height:70px" name="conditions" placeholder="Existing Conditions..." class="r-form-email form-control" id="conditions">
            </div>
            <div class="form-group col-md-12">
              <label class="sr-only" for="r-form-period">Last Menstrual Period</label>
              <input type="textarea" style="height:70px" name="period" placeholder="Last Menstrual Period..." class="r-form-email form-control" id="period">
            </div>
            <button type="submit" class="btn">Save</button>
          </form>
        </div>



  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <div class="footer-border"></div>
        </div>

      </div>
    </div>
  </footer>

  <!-- Javascript -->
  <script src="/javascript/jquery-1.11.1.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/jquery.backstretch.min.js"></script>
  <script src="/javascript/scripts.js"></script>


</body>

</html>
