<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="javascript/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src="javascript/jquery.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- What is this script ?
    this is made by amit...he hasnt used js anyway
    -->
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--logo -->
            <div class="navbar-header">
              <a href="index.html" class="navbar-brand">THE TEST PAGE</a>
            </div>
               <!--menu items -->
          </div>

    </nav>
     <div class="aa signup">
      <h2>Register</h2><br>
       <form method="post" action='/signup'>
        <input type="text" placeholder="Name" name = 'name' id="username">
        <!--<input type="text" placeholder="Last name"><br><br> -->
        <input type="text" placeholder="E-mail" name="email"><br><br>
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="confrmpassword">
        <br><br>
        <label>Male:</label><input type="radio" name="gender" name="male" value="male" />
        <label>Female:</label><input type="radio" name="gender" name="female" value="female" /> <br><br>

        <input type="number" placeholder="Enter Mobile No." name="contact">
          <br><br>

        <input type="text" placeholder="Enter college name" name="college">
           <br><br>


        <p1>
          <input type="radio" name="year"  value="1st">  1st year
          <input type="radio" name="year"  value="2nd">  2st year
          <input type="radio" name="year"  value="3rd">  3rd year
          <input type="radio" name="year"  value="4th">  4th year
          <br><br>
        </p1>

        <input type="submit" value="Sign Up">
       </form>

    </div>
  </body>
</html>
